.table__header{
    background-color: yellow;
    color: black;
}

/* .department{
    display: grid;
} */

.content{
    margin-left: 200px;
    margin-right: 50px;
    
}

.text-center{
     
    background-color: yellow;
    color: black;
}
