.bg{
    background:url('https://images.squarespace-cdn.com/content/v1/560b3ceae4b014538d69d1f1/1489587050607-4O4G47OAVBSTG769GXTU/image-asset.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
  
}